body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

iframe {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0px;
}

/* Show vertical scrool bars */
body.framed{
    overflow-x: hidden;
    overflow-y: auto;
}

.inline-menu-item {
    font-family: 'Courier New', Courier, monospace;
}

#file-in
{
    display: none;
}
