#name-formula-display
{
    text-align: center;
}
#name-formula-display > *
{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    margin-right: 3em;
}

#close-button
{
    width: 3em;
    height: 3em;
}

#tags > span
{
    cursor: pointer;
}

#notes
{
    width: 100%;
    height: 14em;
}

.ghs-pictogram
{
    transform: scale(0.5);
}

#ghs-pictograms .col .card
{
    width: 8em;
}

h2, h3
{
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}
